<h1><% @geniuses.each do |genius| %></h1>
<% genius.photos.each do |photo| %>
<%= cl_image_tag photo.photo, height: 300, width: 300, crop: :fill %>
<% end %>
<p><%= genius.name %></p>
<p><%= genius.category %></p>
<small><%= genius.description%></small>
<% end %>

<div class="card_photo_text_container">
  <% @geniuses.each do |genius| %>
  <%= link_to genius_path(genius) do  %>
  <div class="card_photo_text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path genius.photos.first.photo, width: 200, height: 200, crop: :fill, gravity: :face; %>)">
    <%= genius.name %>
  </div>
    <% end %>
    <% end %>
</div>
