<div class="col-sm-4">
   <%= link_to genius_path(genius) do %>
  <div class="card-trip card-trip-width">
    <%= cl_image_tag genius.photos.first.photo, crop: :fill, gravity: :face;%>
    <div class="card-trip-infos">
      <div>
        <h2><%= genius.name %></h2>
        <small><%= genius.category.capitalize %></small>

      </div>


      <p class="card-trip-pricing"><i class="far fa-lightbulb"></i><%= genius.iq%></p>
    </div>

  </div>
<% end %>
  </div>
