    <h2>My Geniuses</h2>
    <ul class="list-my-geniuses ">
    <% @my_geniuses.each do |genius| %>
      <div class="list-box">
      <li>
        <div class="list-header-button">
        <p><%= genius.name %></p>
        <%= link_to 'Go to Genius', genius_path(genius), :class => "btn btn-success" %>
        </div>
        <p><%= genius.category.capitalize %></p>
        <small><%= genius.description%></small>
        <br>
        <br>
         <%= link_to 'Delete Genius', genius_path(genius), method: :delete, :class => "btn btn-danger" %>
      </li>
      </div>
    <% end %>
    </ul>
